#!/usr/bin/make -f

%:
	dh $@  --with autotools-dev

override_dh_auto_configure:
	dh_auto_configure -- --with-user=saned --with-group=scanner

override_dh_auto_install:
	dh_auto_install
	$(RM) debian/scanbd/etc/scanbd/example.script
	$(RM) debian/scanbd/etc/scanbd/scanadf.script

override_dh_installinit:
	dh_installinit --init-script=integration/scanbd.debian
